/* <!-- header_section --> */

body {
  font-family: "Poppins", serif;
}

.grop-img_z1 {
  width: 37px;
}

.main_name_z1 {
  color: #1d2730;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  padding: 3px 10px 0px 10px;
}

.down-arrow_z1 {
  width: 13px;
  height: 11px;
}

.location_z1 {
  color: #909090;
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile_z1 {
  width: 48px;
  height: 47px;
}

.parent_div_z1 {
  padding: 14px 14px 0px 14px;
}

.searc_bar_container_z1 {
  position: sticky;
  top: 0;
}

.searc_bar_container_z1 input {
  width: 100%;
  margin-top: 13px;
  padding: 6px 0px 8px 8px;
  border-radius: 0px;
  border: navajowhite;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: #f8f8f8;
}

/* <!-- blue contaner courcel --> */

.first_courcel_z1 {
  width: 100%;
  background: #e7f9ff;
  border-radius: 15px;
  margin-top: 21px;
  padding: 13px 1px 7px 0px;
  overflow: hidden;
  position: relative;
}

.courcel_content_z1 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* width: 200%; */
}

.first_courcel_z1 img {
  width: 42px;
  margin-right: 3px;
}

.get_in_z1 {
  color: #212121;
  font-size: 13px;
  line-height: 2;
  font-weight: 500;
}

.courcel_items_z1 {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.at_yout_text_1z {
  color: #212121;
  font-size: 11.19px;
  font-weight: 400;
  line-height: 0px;
}

.subscribe_btn_z1 {
  background: #d2efff;
  border-radius: 40.97px;
  padding: 4px;
  border: 0.93px #047abc solid;
}

.sub_btn_text_z1 {
  color: #047abc;
  font-size: 10px;
  font-weight: 500;
}

.courcel-indicator_z1 {
  text-align: center;
}

.dot {
  height: 7px;
  width: 7px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #047abc;
}

/* <!-- Direct From Farm category--> */

/* Main container */

.Direct_main_z1 {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.head_category_z1 {
  color: #212121;
  font-size: 16px;
  font-weight: 300;
}

.line_z1,
.line_z2 {
  flex: 1;
  height: 2px;
  background: linear-gradient(90deg, #f3f3f3 0%, white 100%);
  border-radius: 100px;
}

/* <!-- Direct From Farm category--> */

.category_main_boxz1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category_horizontal_move {
  overflow-y: scroll;
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.category_image_1z1 {
  width: 80px;
  margin: 1px 18px 0px 5px;
}

.category_text_1z1 {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

/* clould banner */

.banner_img_z1z1 {
  width: 100%;
  position: relative;
}

.clould_icon_z1 {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 42px;
}

.banner_img_z1z1_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -50%);
  color: black;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  max-width: 80%;
  line-height: 1.4;
  word-wrap: break-word;
  width: 86%;
}

/* <!-- Farm Fresh Picks --> */

.farmfreshpiks_z1 {
  color: #212121;
  font-size: 16px;
  font-weight: 300;
}

.farmfreshpiks_line_z1 {
  flex: 1;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #f3f3f3 0%, white 100%);
  border-radius: 100px;
}

.farmfreshpiks_line_see_z1 {
  color: #00b761;
  font-size: 14px;
  font-weight: 400;
}

.card_box_products_z1 {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 8.68px;
  border: 0.62px #d9d9d9 solid;
  padding: 9px 4px 9px 4px;
}

.farmfreshpiks_product_img_z1 {
  width: 96px;
  height: 74px;
}

.Enhances_box_z1 {
  width: 100%;
  background: #e5fce3;
  border-radius: 2.76px;
  padding: 3px;
  margin: 8px 0px 8px 0px;
}

.Enhances_dot_z1 {
  width: 4.23px;
  height: 4.27px;
  background: #305d25;
  border-radius: 9999px;
}

.Enhances_text_z1 {
  color: #305d25;
  font-size: 7.83px;
  font-family: Rubik;
  font-weight: 500;
  padding-left: 5px;
}

.home_product_name_z1 {
  color: black;
  font-size: 13px;
  font-weight: 500;
}

.home_product_gram_z1 {
  color: #302f2f;
  font-size: 11px;
  font-weight: 400;
}

.home_product_price_z1 {
  color: black;
  font-size: 12px;
  font-weight: 500;
  word-wrap: break-word;
}

.home_product_cutprice_z1 {
  color: #9b9a9a;
  font-size: 11px;
  font-weight: 500;
}

/* banner_img_section_z1 */

.banner_img_section_z1 {
  position: relative;
}

.banner_text_section_z1 {
  width: 185px;
  height: 77px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 57%;
  left: 56%;
  text-align: center;
}

/* farmfreshpiks_z1 */

.farmfreshpiks_z1_line {
  width: 100%;
  flex: 1;
  height: 2px;
  background: linear-gradient(90deg, #f3f3f3 0%, white 100%);
  border-radius: 100px;
  margin-left: 7px;
}

.app_product_z1 {
  position: relative;
  margin-top: 23px;
}

.app_product_z1_container {
  width: 100%;
  padding: 5px;
  background: linear-gradient(180deg, #fdfcf7 0%, #f9eedc 100%);
  border-radius: 10px;
  position: relative;
  padding: 9px;
}

.app_product_z2_container {
  width: 100%;
  padding: 5px;
  background: linear-gradient(180deg, #f3f8ff 0%, #b9d5ff 100%);
  border-radius: 10px;
  position: relative;
  padding: 9px;
}

.app_product_z1_img {
  transform: translate(-23%, -50%);
  position: absolute;
  width: 101px;
  top: 8px;
}

.app_product_z1_name {
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.app_product_z1_label {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.app_product_z1_price {
  color: #9b9a9a;
  font-size: 12px;
  font-weight: 500;
}

.app_product_z1_qua {
  color: #302f2f;
  font-size: 12px;
  font-weight: 400;
}

/* add to cart */
.side_silder_z1 {
  background-color: #f5f7fd;
  padding: 12px;
}

.prodcuts_cart_details_z1 {
  width: 100%;
  padding: 10px;
  background: white;
  border-radius: 12px;
}

.slidebar_z1_img {
  height: 30px;
  width: 36px;
}
.slidebar_z1_text {
  color: #1d2730;
  font-size: 16px;
  padding-left: 7px;
  font-weight: 500;
}
.card_detsils_z1 {
  display: flex;
  align-items: center;
  margin-top: 23px;
  margin-bottom: 13px;
  justify-content: space-between;
}

.card_detsils_z1 img {
  width: 30px;
  height: 30px;
}

.cart_time_z1 {
  color: #1d2730;
  font-size: 12px;
  font-weight: 600;
  padding-left: 10px;
}

.cart_time_z2 {
  color: #3a3939;
  font-size: 12px;
  font-weight: 400;
  padding-left: 58px;
}

.product_name_z1 {
  color: #1d2730;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  padding-bottom: 4px;
}

.product_ml_z1 {
  color: #1d2730;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.cart_location_z1 {
  color: #2f9623;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 400;
  padding-left: 5px;
}

.cart_add_z1 {
  background: #2f9623;
  border-radius: 3.69px;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  color: white;
  width: 60px;
  height: 31px;
}

.cart_price_z1 {
  color: #1d2730;
  font-size: 13px;
  font-weight: 500;
  padding-left: 3px;
  padding-top: 1px;
}

.cart_img_z1 {
  width: 50.83px;
  height: 50.83px;
  border-radius: 4.19px;
  border: 0.7px #1d2730 solid;
  margin-right: 9px;
}

.cart_farmer_icon_z1 {
  width: 19px;
  height: 15px;
}

.address_z11 {
  color: #1d2730;
  font-size: 12px;
  font-weight: 600;
}

.change_address_z1 {
  background: #fff6f1;
  border-radius: 5.9px;
  padding: 8px;
  border: 1px solid #f28b51;
  font-size: 11px;
}

.address_container_z1 {
  width: 100%;
  height: 67px;
  background: white;
  border-radius: 12px;
  padding: 8px;
  font-size: 12px;
}

.coupon_container_z1 {
  width: 100%;
  background: white;
  border-radius: 12px;
  padding: 8px;
  font-size: 12px;
}

.coupon_container_z2 {
  width: 100%;
  /* border-radius: 12px; */
  padding: 8px;
  background: rgba(192.31, 234.1, 255, 0.67);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.text_select_z1 {
  color: #1d2730;
  font-size: 11px;
  font-weight: 500;
  padding-left: 5px;
}

.text_view_all {
  color: #f28b51;
  font-size: 11px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.coupon_add_box {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 0px;
  height: 44px;
  width: 100%;
}

.apply_coupon_btn {
  color: #2f9623;
  font-size: 14px;
  position: absolute;
  font-weight: 500;
  right: 29px;
  padding-top: 21px;
  padding-right: 5px;
}

.coupon_img_z1 {
  width: 33px;
  object-fit: cover;
}

.coupon_img_z2 {
  width: 23px;
  object-fit: cover;
}

.coupon_img_z2 {
  color: #1d2730;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.saveup_to_text_z1 {
  background-image: initial;
  background-color: rgb(255 255 255);
  border: 1px solid rgb(0, 132, 210);
  padding: 2px;
  margin-left: 5px;
  border-radius: 4px;
}

.save_text_z1 {
  color: #047abc;
  font-size: 8.06px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.cut_price_amt {
  color: #909090;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 500;
  text-decoration: line-through;
  word-wrap: break-word;
}

.normal_price_amt_z1 {
  color: black;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}
.itemtotal_text_z1 {
  font-size: 14px;
  padding-left: 5px;
}

.itemtotal_text_z11 {
  color: #1d2730;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  padding-left: 5px;
}

.itemtotal_text_z11 {
  color: #1d2730;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
}

.itemtotal_text_z111 {
  color: #047abc;
  font-size: 13px;
  font-weight: 500;
}
.itemtotal_text_z1111 {
  color: #047abc;
  font-size: 6px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

.delivery_instruction_box {
  width: 49%;
  margin: 3px;
  padding: 8px;
  border-radius: 7px;
  border: 1px #e0dfdf solid;
}

.delivery_instruction_image_z1 {
  width: 20px;
  margin-right: 11px;
}

.Place_Order_z1 {
  background: #2f9623;
  border-radius: 43px;
  position: fixed;
  bottom: 0;
  z-index: 100000000;
  right: 0;
  padding: 11px 10px 7px 15px;

  width: 100%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);

  transition: all 0.3s ease-in-out;
  transform: translateY(-3px);
}

.Place_Order_z1:hover {
  transform: translateY(-5px);

  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.5);
}

.delivery_instruction_text_z1 {
  color: #1d2730;
  font-size: 10px;
  font-family: Poppins;
  font-weight: 500;
}
/* cashbackContainer section */
.cashback_container_sc {
  width: 100%;
  background: #e4ffe1;
  margin-top: 25px;
  padding: 14px;
}
.cashback_container_tetx_Z1 {
  color: #2f9623;
  font-size: 22.5px;
  font-weight: 700;
  margin-bottom: 11px;
}
.cashback_container_extra_Z1 {
  color: black;
  font-size: 13px;
  font-weight: 500;
  padding: 2px;
}
.try_gogo_offer_btn {
  width: 100%;
  padding: 14px;
  background: #2f9623;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.try_gogo_offer_text {
  width: 112px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.try_gogo_offer_img {
  width: 20px;
}
