/* <!-- header_section --> */

body {
  font-family: "Poppins", serif;
}

.grop-img_z1 {
  width: 37px;
}

.main_name_z1 {
  color: #1d2730;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  padding: 3px 10px 0px 10px;
}

.down-arrow_z1 {
  width: 13px;
  height: 11px;
}

.location_z1 {
  color: #909090;
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile_z1 {
  width: 48px;
  height: 47px;
}

.parent_div_z1 {
  padding: 14px 14px 0px 14px;
}

.searc_bar_container_z1 {
  position: sticky;
  top: 0;
}

.searc_bar_container_z1 input {
  width: 100%;
  margin-top: 13px;
  padding: 6px 0px 8px 8px;
  border-radius: 0px;
  border: navajowhite;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: #f8f8f8;
}

/* <!-- blue contaner courcel --> */

.courcel_content_z1 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* width: 200%; */
}

.first_courcel_z1 img {
  width: 42px;
  margin-right: 3px;
}

.get_in_z1 {
  color: #212121;
  font-size: 13px;
  line-height: 2;
  font-weight: 500;
}

.at_yout_text_1z {
  color: #212121;
  font-size: 11.19px;
  font-weight: 400;
  line-height: 0px;
}

.subscribe_btn_z1 {
  background: #d2efff;
  border-radius: 40.97px;
  padding: 4px;
  border: 0.93px #047abc solid;
}

.sub_btn_text_z1 {
  color: #047abc;
  font-size: 10px;
  font-weight: 500;
}

.courcel-indicator_z1 {
  text-align: center;
}

.first_courcel_z1 {
  width: 100%;
  background: #e7f9ff;
  border-radius: 15px;
  margin-top: 21px;
  padding: 13px 1px 7px 0px;
  overflow: hidden;
  position: relative;
}

.dot_z1 {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot_z1 {
  background-color: #047abc;
}

.courcel_items_z1 {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

/* <!-- Direct From Farm category--> */

/* Main container */

.Direct_main_z1 {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.head_category_z1 {
  color: #212121;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
}

.line_z1,
.line_z2 {
  flex: 1;
  height: 2px;
  background: linear-gradient(90deg, #f3f3f3 0%, white 100%);
  border-radius: 100px;
}

/* <!-- Direct From Farm category--> */

.category_main_boxz1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category_horizontal_move {
  overflow-y: scroll;
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.category_image_1z1 {
  width: 80px;
  margin: 1px 18px 0px 5px;
}

.category_text_1z1 {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

/* clould banner */

.banner_img_z1z1 {
  width: 100%;
  position: relative;
}

.clould_icon_z1 {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 42px;
}

.banner_img_z1z1_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-43%, -50%);
  color: black;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  max-width: 80%; 
  line-height: 1.4; 
  word-wrap: break-word; 
  width: 86%;
}
/* <!-- Farm Fresh Picks --> */
.farmfreshpiks_z1{
  color: #212121;
  font-size: 16px;
  font-weight: 300;
}

.farmfreshpiks_line_z1{
  flex: 1
  ;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #F3F3F3 0%, white 100%);
  border-radius: 100px
}
.farmfreshpiks_line_see_z1{
  color: #00B761;
  font-size: 14px;
  font-weight: 400;
}
.card_box_products_z1{
  display: flex;
  align-items: center;

  width: 100%;
  border-radius: 8.68px;
  border: 0.62px #D9D9D9 solid;
  padding: 9px 4px 9px 4px;
}
.farmfreshpiks_product_img_z1{
  width: 115px;
  height: 75px;
}
.Enhances_box_z1{
  width: 100%;
  background: #E5FCE3;
  border-radius: 2.76px;
  padding: 5px;
}
.Enhances_dot_z1{
  width: 4.23px; height: 4.27px; background: #305D25; border-radius: 9999px
}
.Enhances_text_z1{
  color: #305D25; font-size: 4.83px; font-family: Rubik; font-weight: 500; line-height: 27.63px; word-wrap: break-word
}
.home_product_name_z1{
  color: black;
  font-size: 13px;
  font-weight: 500;
}
.home_product_gram_z1{
  color: #302F2F;
  font-size: 10px;
  font-weight: 400;
}
.home_product_price_z1{
  color: black;
  font-size: 10.62px;
  font-weight: 500;
  word-wrap: break-word
}
.home_product_cutprice_z1{
  color: #9B9A9A;
  font-size: 10px;
  font-weight: 500;
}